$usercard-backdrop-avatar: dark-light-choose(
  blur(30px),
  blur(30px) brightness(0.8)
);

$usercard-backdrop: dark-light-choose(none, brightness(0.8));

:root {
  --usercard-backdrop-avatar: #{$usercard-backdrop-avatar};
  --usercard-backdrop: #{$usercard-backdrop};
}
